<html>
<head>
<title>MyPortfolio</title>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" >
<table id="Table_01" width="1024" height="769" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td colspan="11">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_01.gif')}}" width="871" height="1" alt=""></td>
		<td colspan="2" rowspan="3">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_02.gif')}}" width="153" height="268" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="2">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_03.gif')}}" width="154" height="267" alt=""></td>
		<td colspan="9">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_04.gif')}}" width="717" height="213" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_05.gif')}}" width="51" height="54" alt=""></td>
		<td colspan="2"><a href="/">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_06.gif')}}" width="151" height="54" alt=""></a></td>
		<td>
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_07.gif')}}" width="45" height="54" alt=""></td>
		<td><a href="/list/">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_08.gif')}}" width="110" height="54" alt=""></a></td>
		<td>
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_09.gif')}}" width="31" height="54" alt=""></td>
		<td colspan="2"><a href="/techniques/">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_10.gif')}}" width="276" height="54" alt=""></a></td>
		<td>
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_11.gif')}}" width="53" height="54" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_12.gif')}}" width="77" height="500" alt=""></td>
		<td rowspan="3">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_13.gif')}}" width="77" height="500" alt=""></td>
		<td colspan="2" rowspan="3">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_14.gif')}}" width="77" height="500" alt=""></td>
		<td colspan="5">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_15.jpg')}}" width="563" height="45" alt=""></td>
		<td colspan="2" rowspan="3">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_16.gif')}}" width="77" height="500" alt=""></td>
		<td rowspan="3">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_17.gif')}}" width="77" height="500" alt=""></td>
		<td rowspan="3">
		<img src="{{url_for('static',filename='images/layout/MyPortfolio_18.gif')}}" width="76" height="500" alt=""></td>
	</tr>
	<tr>
		<td colspan="5" width="563" height="378">
		{% block body  %}
		{% endblock %}
			</td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_20.gif')}}" width="563" height="77" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="spacer.gif" width="77" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="77" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="51" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="26" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="125" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="45" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="110" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="31" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="252" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="24" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="53" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="77" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="76" height="1" alt=""></td>
	</tr>
</table>
</html>
