<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>MyPortfolio</title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" style="margin: 0px auto">
	<tr>
		<td colspan="12">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_01.gif')}}" width="1361" height="1" alt="" /></td>
		<td colspan="2" rowspan="3">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_02.gif')}}" width="239" height="418" alt=""/></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="2">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_03.gif')}}" width="240" height="417" alt="" /></td>
		<td colspan="10">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_04.gif')}}" width="1121" height="334" alt="" /></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_05.gif')}}" width="81" height="83" alt="" /></td>
		<td colspan="2"><a href="/">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_06.gif')}}" width="236" height="83" alt="" /></a></td>
		<td>
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_07.gif')}}" width="70" height="83" alt="" /></td>
		<td><a href="/list/">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_08.gif')}}" width="172" height="83" alt="" /></a></td>
		<td>
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_09.gif')}}" width="48" height="83" alt="" /></td>
		<td colspan="2"><a href="/techniques/">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_10.gif')}}" width="431" height="83" alt="" /></a></td>
		<td>
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_11.gif')}}" width="83" height="83" alt="" /></td>
	</tr>
	<tr>
		<td rowspan="2"> 
<img src="{{url_for('static',filename='images/layout/MyPortfolio_12.gif')}}" width="120" height="662" alt=""/>
		</td>
		<td rowspan="2">
<img  width="120" height="662" src="{{url_for('static',filename='images/layout/MyPortfolio_13.gif')}}" alt=""/></td>
		<td colspan="10"> 
<img src="{{url_for('static',filename='images/layout/MyPortfolio_14.jpg')}}" width="1121" height="71" alt=""/></td>
		<td rowspan="2">
<img src="{{url_for('static',filename='images/layout/MyPortfolio_15.gif')}}" width="120" height="662" alt="" /></td>
		<td rowspan="2"> 
<img src="{{url_for('static',filename='images/layout/MyPortfolio_16.gif')}}" width="119" height="662" alt="" /></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_17.gif')}}" width="1" height="711" alt="" /></td>
		<td colspan="2" ><img src="{{url_for('static',filename='images/layout/MyPortfolio_17.gif')}}" width="120" height="591" alt="" /></td>
		<td colspan="5">
		  {% block body  %}
		  {% endblock %}
		</td>
		<td colspan="2">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_19.gif')}}" width="120" height="591" alt="" /></td>
	</tr>
	<tr>
		<td>
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_20.gif')}}" width="120" height="120" alt="" /></td>
		<td>
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_21.gif')}}" width="120" height="120" alt="" /></td>
		<td colspan="9">
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_22.gif')}}" width="1120" height="120" alt="" /></td>
		<td>
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_23.gif')}}" width="120" height="120" alt="" /></td>
		<td>
			<img src="{{url_for('static',filename='images/layout/MyPortfolio_24.jpg')}}" width="120" height="120" alt="" /></td>
	</tr>
	<tr>
		<td>
			<img  src="" width="120" height="1" alt="" /></td>
		<td>
			<img src="" width="120" height="1" alt="" /></td>
		<td>
			<img src="" width="1" height="1" alt="" /></td>
		<td>
			<img src="" width="80" height="1" alt="" /></td>
		<td>
			<img src="" width="40" height="1" alt="" /></td>
		<td>
			<img src=""  width="196" height="1" alt="" /></td>
		<td>
			<img src=""  width="70" height="1" alt="" /></td>
		<td>
			<img src=""  width="172" height="1" alt="" /></td>
		<td>
			<img src="" width="48" height="1" alt="" /></td>
		<td>
			<img src="" width="394" height="1" alt="" /></td>
		<td>
			<img src="" width="37" height="1" alt="" /></td>
		<td>
			<img src="" width="83" height="1" alt="" /></td>
		<td>
			<img src="" width="120" height="1" alt="" /></td>
		<td>
		        <img src=""  width="119" height="1" alt="" /></td>
	</tr>
</table>
</body>
</html>
