<html>
<head>
<title>MyPortfolio</title>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table id="Table_01" width="1024" height="769" border="0" cellpadding="0" cellspacing="0">
		
	<tr>
		<td rowspan="3">
			<img src="{{url_for('static',filename='MyPortfolio_02.gif')}}" width="77" height="500" alt=""></td>
		<td rowspan="3">
			<img src="MyPortfolio_03.gif" width="77" height="500" alt=""></td>
		<td colspan="2" rowspan="3">
			<img src="MyPortfolio_04.gif" width="77" height="500" alt=""></td>
		<td colspan="5">
			<img src="BrowserPreview_15.gif" width="563" height="45" alt=""></td>
		<td colspan="2" rowspan="3">
			<img src="MyPortfolio_06.gif" width="77" height="500" alt=""></td>
		<td rowspan="3">
			<img src="MyPortfolio_07.gif" width="77" height="500" alt=""></td>
		<td rowspan="3">
			<img src="MyPortfolio_03-19.gif" width="76" height="500" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="BrowserPreview_19.gif" width="563" height="378" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="MyPortfolio_10.gif" width="563" height="77" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="spacer.gif" width="77" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="77" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="51" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="26" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="125" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="45" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="110" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="31" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="252" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="24" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="53" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="77" height="1" alt=""></td>
		<td>
			<img src="spacer.gif" width="76" height="1" alt=""></td>
	</tr>
</table>
</html>
